*{
  font-family: "Afacad Flux", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.ott{
  height: 100%;
  /* backdrop-filter: blur(2px); */
}


.platform a{
  text-decoration: none;
  color:beige;
}

@media (max-width: 576px) {
  .ott-content h2 {
    font-size: 1.3rem;  
  }
  iframe {
    height: 150px; 
  }
  .card {
    height: auto; 
  }
}

@media (min-width:770px) and (max-width:950px){
  iframe{
    height: 100%;
  }


}

