.review .card img {
  height: 300px;
}

@media (max-width: 1100px) {

  .review .card {
    height: 220px;
  }

  .review .card img {
    height: 220px;

  }

  .review .card h2 {
    font-size: 13px;

  }

  .review .card h4 {
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .review .card .rating {
    position: absolute;
    top:26px;
    right:0px;
   left: 290px;
  }


  .review .card .starlogo {
    height: 18px;
    visibility: hidden;
  }

  .review .card .buttons .btn {
    padding: 2px 12px;
    font-size: 10px;
  }

  .review .card .buttons .bookmark {
    height: 20px;
  }


  .review .card .buttons {
    display: flex;
    justify-content: flex-start;
  }
}