.abt{
  background: url(../Images/about.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.abt{
  overflow-y: auto;
}

.abt::-webkit-scrollbar{
  display: none;
}

.abt h4{
  padding-bottom: 35px;

}



@media(max-width:690px){
  .abt{
    position: absolute;
    background: url(../Images/about\ responsive.jpeg);
  }


  .abt h4{
    margin-left: 30px;
    width: 85%;
  }
}

@media (min-width:690px) {
  .abt h4{
    margin-left :320px;
    height: 600px;
    width: 50%;
  }


  
}

@media (min-width:1330px) {
  .abt h4{
    margin-left :430px;
  }
  
}