.home {
  height: 1050px;
}


.homebg {
  background: url(../Images/homebg.jpg);
  backdrop-filter: blur(0px);
  justify-content: center;
  padding-bottom: 30px;
  background-size: 100%;
  background-repeat: repeat;
}

.homebg .welcome {
  color: black;
  font-size: 2.5rem;
  font-family: "Afacad Flux", sans-serif;
  transition: opacity 0.5s ease;
  font-weight: 700;
}

.homebg .card {
  border-radius: 50px;
}

.carousel-item {
  height: 450px;
  border-radius: 50px;

}

.carousel-item img {
  height: 450px;
  background-size: cover;
  border-radius: 50px;


}

.account {
  position: absolute;
  left: 0;
  top: 0px;
  padding-top: 24px;
  margin-left: 28px;
}

.line {
  position: absolute;
  top: 615px;
  width: 100%;
  height: 180px;
  z-index: 10;
}

.intro {
  background: linear-gradient(to bottom, white, #fbf2a1);
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 430px;
  overflow-x:hidden ;
}


.intro .ticket {
  display: grid;
  padding-top: 5px;
  height: 500px;
}

.sideimg {
  position: absolute;
  height: 450px;
  top: 695px;
}


.menulist {
  position: absolute;
  top: 860px;
  padding-left: 250px;
  font-size: 27px;
  list-style: none;
  overflow-x: hidden;
}

.intro a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.intro ul{
  width: fit-content;
}

.intro li:hover {
  transform: scale(1.1);
  transition: 1s;
}


@media(min-width:1250px){
  .intro {
    padding-left: 500px;
  }

  .sideimg{
    left:0px;
    width: 700px;
  }
}

@media (min-width:800px) and (max-width:920px){
  .menulist {
    top: 840px;
    padding-left: 185px;
    font-size: 30px;
    width: 250px;
    list-style: none;
  }

  
  .intro {
    padding-left: 300px;
  }

}


@media (min-width:550px) and (max-width:800px){
  .menulist {
    top: 840px;
    padding-left: 165px;
    font-size: 27px;
    width: 250px;
    list-style: none;
  }

  
  .intro {
    padding-left: 300px;
  }

}


@media (min-width:430px) and (max-width:550px){
  .home {
    height: 620px;
  }


  .carousel-item {
    height: 250px;
  }

  .carousel-item img {
    height: 250px;
    border-radius: 0px;
  }

  .homebg .card {
    border-radius: 0px;
  }

  .homebg .account .account-icon {
    margin-top: 2px;
  }

  .homebg .welcome {
    margin-left: 50px;
  }

  .homebg {
    background-size: 102%;
  }

  .divider .line {
    position: absolute;
    top: 440px;
    width: 100%;
    height: 80px;
  }


  .intro .ticket {
    display: grid;
    height: 270px;
    width: 365px;
  }

  .sideimg {
    position: absolute;
    height: 250px;
    top: 475px;
    left:-30px;
    z-index: 0;
  }

  .intro {
    background: linear-gradient(to bottom, white, #fbf2a1);
    height: 270px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 180px;
    z-index: 20;
  }

  .menulist {
    position: absolute;
    top: 560px;
    padding-left: 95px;
    font-size: 14px;
    width: 250px;
    list-style: none;
  }

  .intro a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
  }

}


@media  (max-width:430px) {
  .home {
    height: 620px;
  }


  .carousel-item {
    height: 230px;
  }

  .carousel-item img {
    height: 230px;
    border-radius: 0px;
  }

  .homebg .card {
    border-radius: 0px;
  }

  .homebg .account .account-icon {
    margin-top: 2px;
  }

  .homebg .welcome {
    margin-left: 50px;
  }

  .homebg {
    background-size: 102%;
  }

  .divider .line {
    position: absolute;
    top: 400px;
    width: 100%;
    height: 100px;
  }


  .intro .ticket {
    display: grid;
    height: 270px;
    width: 415px;

 
  }

  .sideimg {
    position: absolute;
    height: 270px;
    top: 445px;
    right: 20px;
    z-index: 0;
  }



  .intro {
    background: linear-gradient(to bottom, white, #fbf2a1);
    height: 270px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 110px;
    z-index: 20;
  }

  .menulist {
    position: absolute;
    top: 525px;
    padding-left: 90px;
    font-size: 14px;
    width: 250px;
    list-style: none;
  }

  .intro a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
  }

}
