.loginbg {
  background: url(../Images/home.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px !important;
  background-size: cover; 
  transition: background-size 0.5s ease-in-out;

}


.login {
  padding: 3rem;
  /* margin-top: -30px; */
  height: 255px;
  padding-top: 2.7rem !important;
  justify-content: center;

}



strong a{
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

strong a:hover {
  text-decoration: underline;
}

.responsiveform{
  padding-inline: 400px;
}


@media (max-width: 900px) {
  .responsiveform {
    padding-inline: 150px;
  }
}

@media (max-width: 576px) {
  .responsiveform {
    padding-inline: 0px;
  }
}

@media (max-width: 1100px) and (min-width:900px) {
  .responsiveform {
    padding-inline: 250px;
  }

  .loginbg{
    background-size: 300%;
  }
}

@media (max-width: 2700px) and (min-width:1400px) {
.loginbg{
  background-size: 300%;
}
.responsiveform {
  padding-inline: 700px;
}
}

@media (max-width: 1750px) and (min-width:1400px) {
.loginbg{
  background-size: 300%;
}
.responsiveform {
  padding-inline: 460px;
}
}




