.signupbg {
  /* background: url(../Images/about\ responsive.jpeg); */
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px !important;
  background-size: cover; 
  transition: background-size 0.5s ease-in-out;

}


.signup {
  padding: 2rem;
  margin-top: -30px;
  height: 255px;
  padding-top: 2.7rem !important;
  justify-content: center;
}

