@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Sixtyfour+Convergence&display=swap');

nav{
  font-family: "Afacad Flux", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.drop{
  font-family: "Afacad Flux", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.wishlist:hover{
  border-radius: 20%;
  transform: scale(1.13);
  transition-duration: 1s;
}

.navb a:hover{
  transition: .5s;

}

.navb .nav-link {
  margin-inline: 8px;
}

@media(max-width:570px){
  .wishlist{
    height: 50px;
    width: 50px;
  }
  .drop{
    height: 30px;
  }
  .logo{
    height: 20pt;
    width: 120pt;
  }
}
@media(max-width:490px){
  .wishlist{
    height: 40px;
    width: 40px;
  }
  .drop{
    height: 30px;
  }
}

@media (min-width:900px) {
  .navbar-nav .nav-link:active {
    transform: scale(0.95); 
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
}



