.App {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: url('../src/components/Images/bgimg.jpg');
  overflow: auto;
}


.bg {
  height: 100%;
  width: 100%;
  background-size: cover;
}