.mweek {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Afacad Flux", sans-serif;
  font-size: 18px;
}


.card-1 {
  background: linear-gradient(to bottom, #564b4ae1, #d2d5a2, #E6EFC2);
}

.info .links a {
  text-decoration: none !important;
  font-style: italic;
  color: grey !important
}

.trailer a {
  text-decoration: none;
  color: white;


}

.trailer p {
  color: #fff;
  font-size: 15px;
}


.trailer {
  height: 37px;
  width: 140px;
}

/* SHARE */


.card .share {
  height: 80px;
  width: 50%;
  display: flex;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  transition: 1.8s ease;
  margin-left: 150px;
}


.card .share span {
  position: absolute;
  width: 100%;
  height: 50%;
  color: #111;
  text-align: center;
  line-height: 80px;
  z-index: 999;
  transition: 0.3s linear;
}

.card .share:hover span {
  transform: rotateX(90deg);
  transition-delay: 0.3s;
  margin-bottom: 50%;
}

.card .share a {

  flex: 1;
  font-size: 26px;
  color: #fff;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s linear;

}


.card .share:hover {
  transform: scale(1.1);

}

.card .share:hover a {
  opacity: 1;
  transform: translateX(0);
}

.card .share a:nth-child(1) {
  transition-delay: 1s;
}

.card .share a:nth-child(2) {
  transition-delay: 0.8s;
}

.card .share a:nth-child(3) {
  transition-delay: 0.6s;
}

.card .share a:nth-child(4) {
  transition-delay: 0.4s;
}


@media (max-width:560px) {
  .trailer p {
    visibility: hidden;
    font-size: 0px;
  }

  .trailer {
    width: 55px;
    height: 37px;
  }

  .trailer .utube-logo {
    height: 30px;
    width: 100%;
    padding-left: 6px;
    margin-top: -4px;
  }

  .card .share {
    margin-left: 20px;
    height: 50px;
    transition: 2s;
  }

  .card .share:hover {
    margin-left: -10px;
    transition: 2s;
  }

  .card .copied-message{
    margin-left: 12px;
  }

}


@media (max-width:767px) and (min-width:560px) {

  .trailer {
    width: 140px;
    height: 37px;
  }

  .trailer .utube-logo {
    margin-left: 10px;
  }

  .card .share {
    margin-left: 50px;
    height: 50px;
    transition: 2s;
  }

  .card .share:hover {
    margin-left: 10px;
    transition: 2s;
  }

 .buttons .copied-message{
    margin-right: 30px;
  }

}

@media (max-width:1200px) and (min-width:768px) {

  .trailer {
    width: 140px;
    height: 37px;
   
  }

  .trailer .utube-logo {
    margin-left: 5px;
  }


  .card .share {
    margin-left: 50px;
    height: 50px;
    transition: 2s;

  }

  .card .share:hover {
    margin-left: 10px;
    transition: 2s;

  }

}

