@media (max-width:900px) {
  .xclusive .card{
    height: 250px;
  }  
  .xclusive h4{
   font-size: 18px;
  }
}


.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination-controls button {
  border: none;
  padding: 7px 20px;
  margin: 0 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.pagination-controls button:disabled {
  /* background-color: #ccc; */
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 18px;
}
